html{
    font-family: 'Maiden Orange', cursive;
    background-color: #1d2731;
}
#header{
    font-family: sans-serif;
    font-size:20px;
    color: #d9b310;
}
#header #brand_text{
    font-color:;
    width: 10%;
    display:inline-block;
    float:left;
}
#header #control{
    width: 50%;
    display:inline-block;
    float:right;
}
#header a{
    text-decoration: none;
}
h1{
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #d9b310;
}
h3{
    font-size: 3em;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #d9d18a;
}
h4{
    font-size: 2em;
    color: #d9d18a;
}

body{
    font-size: 20px;
    color: #328cc1;
    margin: 0 auto;
    max-width:100%;
    padding: 2em 2em 2em;
}

p.leadin{
    margin: 0;
    margin-left: 3em;
    padding: 0;
    font-style: italic;
    font-size: 1em;
    color: #eeeeee;
}

p{
    color: white;
}

/*FOR REGISTER PAGE*/
#registerphp{

}
#register_form{
    width: 25%;
}
form label{
    margin: 10px;
    font-family: serif;
}
form input{
    float: right;
}

/*END REGISTER PAGE*/
