html{
    font-family: sans-serif;
    background-color: #7BAFD4;
}

body{
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 auto;
    max-width:800px;
    padding: 2em 2em 2em;
}

#home_screen{
    color:#FFFFFF;
}
#login-section{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    text-align: center;
    background: white;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#title{
    font-family: "Overpass";
    font-size: 4em;
    font-variant: small-caps;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
#tournament_list{
    color: white;
    font-size: 1em;
}
#tournamet_list_title{
    font-size: 2em;
}


