/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }
/*
 *  General Styles
*/
body{
  font-family: 'Maiden Orange', cursive;
  font-size:16px;
  padding:10px;
  line-height:1.4em;
  color: #328cc1;
background-color: #1d2731;
}
li.game{
  padding-left:20px;
}
  li.game.winner{
    font-weight:bold;
      color: #d9b310;
  }
  .score{
    float:right;
    margin-right:5px;
  }
  li.game-top{ border-bottom:1px solid #aaa; }
  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }
  li.game-bottom{ 
    border-top:1px solid #aaa;
  }

#tourney_table_view{
    background-color:#d9b310;
    width:400;
    height:auto;
    padding:10px 10px 10px 10px;
    text-align:left;
    font-size: 20px
}
#list_header{
    font-size:25px;
    width:100%;
    text-align:left;
}

th{
    background-color:#d9b310;
    margin: 15px;
    width: 300px;
}

.homename, .awayname{
  color:white;
  font-size:20px;
  border: thick white;
}
#pool_view tr{
  border: thick white;
  padding: 15px 15px 15px 15px;
}
