.h1{
	text-align: center;
}
#login_header{
	font-size: 1em;
	background-color: yellow;
	color: black;
}
.right{
	text-align: right;
}
#team_container{
	width: 2000px;
	height: 800px;
	overflow-y: scroll;
	display: inline-block;
	margin:0 auto;
	float: left;
}
.tournament_card{
	margin: 1em;
	padding: 1em;
	background: white;
	width: 200px;
	height: 200px;
	border: thin black;
	text-align: center;
}
